@charset "UTF-8";

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

:root {
    --main-white: #FBFCF8;
    --shadow-black: rgba(0, 0, 0, 0.5);
    --shadow-white-1: #FBFCF883;
    --shadow-white-2: #FFFFFF80;
    --background-blue: #151433;
    --background-main-blue: #1D1B45;
    --blue-1: #3E3A94;
    --blue-2: #383485;
    --bmi-tier1: #FAD94C;
    --bmi-tier2: #2EB043;
    --bmi-tier3: #FA7F3E;
    --bmi-tier4: #E05438;
    --bmi-tier5: #FA283E;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1, p, a, fieldset, input, button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    background-color: var(--background-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

figure img {
    width: 100%;
}

main {
    width: min(450px, 100%);
    padding: 15px;
    border-radius: 15px;
    color: var(--main-white);
    background-color: var(--background-main-blue);
    box-shadow: 0 0 10px var(--shadow-black);
}

main h1 {
    text-align: center;
    padding-bottom: 15px;
    font-size: 2.3rem;
    text-shadow: 0 0 5px var(--shadow-white-1);
}

main fieldset {
    & input {
        width: 100%;
        color: var(--main-white);
        font-size: 1.2rem;
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 8px;
        border: 1px solid var(--main-white);
        outline: none;
        background-color: transparent;
        box-shadow: 0 0 3px var(--shadow-white-2);
        transition: background-color 250ms ease;

        &:focus {
            background-color: #28255E;
        }

        &::placeholder {
            color: var(--main-white);
        }

        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
            appearance: none; /* remove arrows/spinners from input type number */
        }
    }

    & div {
        position: relative;
    }

    & div + div {
        margin-top: 5px;
    }
    
    & div span.material-symbols-outlined {
        font-size: 2rem;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-60%);
    }

    & button {
        width: 100%;
        display: block;
        margin-block: 5px;
        padding-block: 8px;
        border-radius: 8px;
        border: 2px solid var(--main-white);
        background-color: var(--blue-1);
        color: var(--main-white);
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 250ms ease;

        &:hover {
            background-color: var(--blue-2);
        }
    }
}

#bmidiv {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height .5s, margin-top .5s, border-top .5s, border-top-color .5s;
    
    &.showup {
        margin-top: 10px;
        border-top: 3px solid var(--blue-1);
        border-radius: 2px;
        height: 132px; /* for browsers that do not support "calc-size" */
        height: calc-size(auto);
    }

    &.underweight {
        border-top-color: var(--bmi-tier1);
        color: var(--bmi-tier1);
    }

    &.normal {
        border-top-color: var(--bmi-tier2);
        color: var(--bmi-tier2);
    }

    &.overweight {
        border-top-color: var(--bmi-tier3);
        color: var(--bmi-tier3);
    }

    &.obese {
        border-top-color: var(--bmi-tier4);
        color: var(--bmi-tier4);
    }

    &.morbidlyobese {
        border-top-color: var(--bmi-tier5);
        color: var(--bmi-tier5);
    }

    & > * {
        display: block;
        text-align: center;
        margin: 0;
    }

    & #bmivalue {
        color: inherit;
        font-size: 2rem ;
        padding-block: 10px 5px;
        transition: color .5s;
    }
    
    & #bmiclassification {
        color: inherit;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: capitalize;
        margin-bottom: 5px;
        transition: color .5s;
    }

    & a {
        color: var(--main-white);
        font-size: 1.2rem;
        text-decoration: none;
    }

    & a[href*="wikipedia"] {
        font-size: 1rem;
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 5px;
        margin-top: 4px;
    }

    & a:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: 980px) {
    figure {
        max-width: 300px;
    }
}

@media screen and (max-width: 870px) {
    body {
        justify-content: center;
    }
    
    figure {
        display: none;
    }
}