@charset "UTF-8";

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, fieldset, input, button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

table, tr, td, th {
    border: 2px solid black;
    border-collapse: collapse;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 500px;
    padding: 15px;
    background-color: orange;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

main h1 {
    text-align: center;
    padding-block: 8px;
    font-size: 2.5rem;
}

main fieldset legend {
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 10px;
}

main fieldset label {
    font-size: 1.2rem;
    font-weight: bold;
}

main fieldset input {
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 40px;
    border: 1px solid gray;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

main fieldset div + div {
    margin-top: 5px;
}

main fieldset button {
    display: block;
    margin-block: 5px;
    padding: 5px 10px;
    border-radius: 25px;
    border: 1px solid gray;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

main table {
    margin-block: 5px;
}

main table caption {
    font-size: 1.2rem;
    font-weight: bold;
}

main table thead {
    background-color: darkblue;
    color: white;
}

main table tbody td:nth-child(2) {
    text-align: center;
}

main table tbody td:nth-child(3) {
    text-align: right;
}

main p#yourbmi {
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: inline-block;
}