@charset "UTF-8";

:root {
    --background-blue: #2E73B2;
    --white-clock: #E1E1E1;
    --shadow-black: rgba(0, 0, 0, 0.5);
    --control-green: #07BA07;
    --control-green-hover: #0D9F0D;
    --control-yellow: #E6CD10;
    --control-yellow-hover: #CFB80B;
    --restart-red: #D40C0C;
    --restart-red-hover: #B40D0D;
    --settime-purple: #6506DD;
    --settime-purple-hover: #5408AF;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: monospace;
}

p, button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: var(--background-blue);
}

.clock {
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px var(--shadow-black);
    background-color: var(--white-clock);
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.time p {
    font-size: 10rem;
    font-weight: bolder;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons button {
    color: white;
    width: 8rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--shadow-black);
    cursor: pointer;
    transition: background-color 250ms ease;
}

.buttons button#control.start {
    background-color: var(--control-green);

    &:hover {
        background-color: var(--control-green-hover);
    }
}

.buttons button#control.pause {
    background-color: var(--control-yellow);

    &:hover {
        background-color: var(--control-yellow-hover);
    }
}

.buttons button#restart {
    background-color: var(--restart-red);

    &:hover {
        background-color: var(--restart-red-hover);
    }
}

.buttons button#settime {
    background-color: var(--settime-purple);

    &:hover {
        background-color: var(--settime-purple-hover);
    }
}

.buttons button span {
    font-size: 4rem;
}