@charset "UTF-8";

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: monospace;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #031324;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

h1, h2, h3, h4, h5, h6, div, p, q, a, header, nav, main, aside, article, footer, blockquote, select, input {
    margin: 0;
    padding: 0;
}

main {
    width: min(100dvw, 400px);
    padding: 20px;
    border-radius: 10px;
    background-color: #0F1923;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

.previous-operations p {
    color: #FDF5E0;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: end;
    padding-bottom: 10px;
}

input#number {
    width: 100%;
    color: #FDF5E0;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: right;
    background-color: #202627;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    outline: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    transition: background-color .2s;

    &:focus {
        background-color: #373D3E;
    }
}

.buttons {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 60px);
    gap: 10px 10px;
    margin-top: 20px;
}

.buttons > div {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.buttons > div > button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FDF5E0;
    background-color: #292F30;
    font-size: 2rem;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    outline: 0;
    cursor: pointer;
    transition: background-color .2s;

    &:hover {
        background-color: #373D3E;
    }

    &.buttons-numbers {
        background-color: #373D3E;

        &:hover {
            background-color: #292F30;
        }
    }

    &.button-equals {
        color: #0F1923;
        background-color: #4CC2FF;

        &:hover {
            background-color: #3DB3F0;
        }
    }
}

.buttons > div > button > img {
    height: 2rem;
}