@charset "UTF-8";

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100dvh;
    background-color: black;
}

div {
    width: 12rem;
    aspect-ratio: 1 / 1;
    background-color: white;
    box-shadow: 0 0 5px white;
    transition: .5s ease;
}

input {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    outline: 0;
    border: 2px solid white;
    border-radius: 4rem;
    background-color: black;
    box-shadow: 0 0 .8rem .2rem #FFFFFF80;
    transition: background-color 250ms, box-shadow 250ms;

    &:focus {
        background-color: #292929;
        box-shadow: 0 0 .8rem .4rem #FFFFFF80;
    }
}