@charset "UTF-8";

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    outline: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: grid;
    place-items: center;
    height: 100dvh;
    background-color: #212123;
}

main {
    width: min(100dvw, 600px);
    padding: 1.25rem;
    border-radius: .5rem;
    background-color: #46484f;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

main :where(h1, p) {
    color: #f0f0f0;
}

main h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

form {
    padding: .5rem;
    border-radius: .3rem;
    margin-top: 1rem;
    background-color: #62656f;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

form label:has(input[type="text"]) {
    color: #f0f0f0;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

form label:has(input[type="text"]) + label {
    margin-top: 1rem;
}

form input[type="text"] {
    font-size: 1.2rem;
    padding: .2rem;
    border-radius: .2rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    transition: background-color .3s ease;
}

form input[type="text"]:focus {
    background-color: #e1e8ff;
}

form fieldset > label {
    color: #f0f0f0;
    display: block;
    margin-block: .5rem;
}

form input[type="checkbox"] {
    cursor: pointer;
}

form fieldset > label:has(input[type="text"]) {
    display: none;
}

form fieldset > label:has(input[type="checkbox"]:checked) + label:has(input[type="text"]) {
    display: flex;
}

form button {
    display: block;
    margin-left: auto;
    color: #f0f0f0;
    font-size: 1.2rem;
    font-weight: bold;
    padding: .4rem .6rem;
    border-radius: .4rem;
    background-color: #506fd3;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    transition: background-color .3s ease;
    cursor: pointer;
}

form button:hover {
    background-color: #4461bf;
}

#submit-result {
    display: none;
    font-weight: bold;
    padding: .5rem;
    border-radius: .2rem;
    margin-top: 1rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

#submit-result.success {
    display: block;
    background-color: #3da739;
}

#submit-result.failure {
    display: block;
    background-color: #c42e2e;
}
