@charset "UTF-8";

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    outline: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: grid;
    place-items: center;
    height: 100dvh;
    background-color: #212123;
}

main {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: 
        "h1 h1"
        "me us"
        "sm sm";
    gap: .5rem;
    width: min(100dvw, 600px);
    padding: 1.25rem;
    border-radius: .5rem;
    background-color: #46484f;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

main :where(h1, h2, p) {
    color: #f0f0f0;
}

main h1 {
    grid-area: h1;
    text-align: center;
    font-size: 2.5rem;
}

main h2 {
    font-size: 1.75rem;
    margin-bottom: .5rem;
}

:where(.messages, .users) ul {
    width: 100%;
    height: 300px;
    padding: .5rem;
    border: 1px solid #f0f0f0;
    overflow-y: auto;
    list-style: none;
}

:where(.messages, .users) ul li {
    color: #f0f0f0;
    word-break: break-word;
}

:where(.messages, .users) ul li + li {
    margin-top: .4rem;
}

.messages {
    grid-area: me;
}

#messages-list li span.msg-user {
    color: #84a0ff;
    font-weight: bold;
}

#messages-list li.server-msg {
    color: #4ae04f;
    font-weight: bold;
}

#messages-list li.server-msg.red {
    color: #c42e2e;
}

.users {
    grid-area: us;
}

#users-list li {
    color: #ffe8b1;
}

.send-message {
    grid-area: sm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#message-input {
    font-size: 1.2rem;
    padding: .2rem;
    border-radius: .2rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    transition: background-color .3s ease;
}

#message-input:focus {
    background-color: #e1e8ff;
}

#send-button {
    display: block;
    margin-left: auto;
    color: #f0f0f0;
    font-size: 1.2rem;
    font-weight: bold;
    padding: .4rem .6rem;
    border-radius: .4rem;
    background-color: #36c03a;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    transition: background-color .3s ease;
    cursor: pointer;
}

#send-button:hover {
    background-color: #4ae04f;
}
