@charset "UTF-8";

.material-symbols-outlined { /* Google Fonts CSS. */
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

:root { /* color palette (white theme by default). */
    --clr-title: #4C4BA6;
    --clr-highlight: #6564BF;
    --clr-font-1: #808080;
    --clr-font-2: #000000;
    --clr-btn-currency-swap: #FAFAFA;
    --bg-clr-btn-currency-swap: #4C4BA6;
    --bg-clr-btn-currency-swap-hover: #2C2776;
    --theme-switcher-clr-1: #000000;
    --theme-switcher-clr-2: #808080;
    --bg-clr-highlight: #EAEAEA;
    --bg-clr-main: #FFFFFF;
    --shadow-1: rgba(0, 0, 0, .5);
}

@property --bg-color-1 {
  syntax: '<color>';
  initial-value: #6564BF;
  inherits: false;
}

@property --bg-color-2 {
  syntax: '<color>';
  initial-value: #4C4BA6;
  inherits: false;
}

body.dark-theme {
    --clr-title: #6564BF;
    --clr-highlight: #4C4BA6;
    --clr-font-1: #EAEAEA;
    --clr-font-2: #FAFAFA;
    --theme-switcher-clr-1: #ADADAD;
    --theme-switcher-clr-2: #FAFAFA;
    --bg-clr-highlight: #222431;
    --bg-clr-main: #1C1D29;
    --bg-color-1: #2C2776;
    --bg-color-2: #130E5D;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    interpolate-size: allow-keywords;
}

body {
    display: grid;
    place-items: center;
    min-height: 100dvh;
    background-image: linear-gradient(145deg, var(--bg-color-1), var(--bg-color-2));
    transition: --bg-color-1 .3s ease, --bg-color-2 .3s ease;
}

main {
    width: min(100dvw, 25rem);
    padding: .9375rem;
    border-radius: .9375rem;
    background-color: var(--bg-clr-main);
    box-shadow: 0 0 .1875rem var(--shadow-1);
    transition: background-color .3s ease;
}

.top-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .625rem;
}

.top-display h1 {
    color: var(--clr-title);
    font-size: 1.5rem;
}

#theme-switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .8rem;
    padding: .3rem .5rem;
    border: 0;
    border-radius: 2rem;
    outline: 0;
    background-color: var(--bg-clr-highlight);
    box-shadow: 0 0 .125rem var(--shadow-1);
    transition: color .3s ease, background-color .3s ease, box-shadow .3s ease;
    cursor: pointer;
}

#theme-switcher:hover, #theme-switcher:focus {
    box-shadow: 0 0 .1875rem var(--shadow-1);
}

#theme-switcher span {
    font-size: 1.5rem;
}

#theme-switcher span:nth-child(1) {
    color: var(--theme-switcher-clr-1);
}

#theme-switcher span:nth-child(2) {
    color: var(--theme-switcher-clr-2);
}

#converter {
    position: relative;
    z-index: 0;
}

#converter.loading {
    pointer-events: none;
}

#converter.loading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
    backdrop-filter: blur(.125rem);
}

.currency-selector {
    position: relative;
}

.selected {
    position: relative;
    cursor: pointer;
}

.selected, .currency-list li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .625rem;
}

.selected__image, .currency-element__image {
    object-fit: cover;
    height: 3.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    box-shadow: 0 0 .1875rem var(--shadow-1);
}

.selected > p > span, .currency-list li > p > span {
    display: block;
}

.selected__name, .currency-element__name {
    color: var(--clr-highlight);
    font-size: 1.5rem;
    font-weight: bold;
}

.selected__id, .currency-element__id {
    color: var(--clr-font-1);
    text-transform: uppercase;
    font-size: .75rem;
}

.selected__logo {
    position: absolute;
    top: 50%;
    right: .625rem;
    transform: translateY(-50%);
    object-fit: contain;
    width: 1.25rem;
    aspect-ratio: 1 / 1;
    transition: transform .3s ease, filter .3s ease;
}

.selected:hover .selected__logo, 
.selected:focus .selected__logo,
.currency-selector:has(ul.active) .selected__logo {
    transform: translateY(-50%) rotate(-180deg);
}

body.dark-theme .selected .selected__logo { /* "selected__logo" img becomes white. */
    filter: brightness(0) saturate(100%) invert(98%) sepia(2%) saturate(477%) hue-rotate(358deg) brightness(112%) contrast(84%);
}

.currency-list {
    list-style: none;
    position: absolute;
    top: 120%;
    left: 0;
    z-index: 1;
    padding: 0;
    border-radius: .625rem;
    width: 100%;
    height: 0;
    max-height: 12.5rem;
    background-color: var(--bg-clr-highlight);
    box-shadow: 0 0 .1875rem var(--shadow-1);
    overflow: auto;
    transition: height .3s ease, padding .3s ease;
}

.currency-list.active {
    height: auto;
    padding: .625rem;
}

.currency-list li {
    padding: .3125rem;
    border-radius: .3125rem;
    border: .125rem solid transparent;
    transition: border-color .3s ease;
    cursor: pointer;
}

.currency-list li:hover, .currency-list li:focus {
    border-color: var(--clr-highlight);
}

.currency-list li.search-currencies {
    padding: 0;
    border: 0;
}

.currency-list li.search-currencies input[id|="currency-search"] {
    color: var(--clr-font-2);
    font-size: .9rem;
    border: .125rem solid var(--clr-font-1);
    border-radius: .5rem;
    padding: .3rem .8rem;
    margin-bottom: .25rem;
    width: 100%;
    background-color: transparent;
    transition: border-color .3s ease, background-color .3s ease;
}

.currency-list li.search-currencies input[id|="currency-search"]:focus {
    border-color: var(--clr-highlight);
    background-color: var(--bg-clr-main);
}

.currency-list li.search-currencies input[id|="currency-search"]::placeholder {
    color: var(--clr-font-1);
}

.currency-list li.hide {
    display: none;
}

.currency-list::-webkit-scrollbar {
    width: 1.2rem;
}

.currency-list::-webkit-scrollbar-track {
    border-radius: .5rem;
    background-color: var(--bg-clr-main);
}

.currency-list::-webkit-scrollbar-thumb {
    border: .15rem solid var(--bg-clr-main);
    border-radius: .5rem;
    background-color: var(--bg-clr-highlight);
}

@supports (not selector(::-webkit-scrollbar)) and (scrollbar-color: black black) { /* Simpler version for Browsers with limited support */
    .currency-list {
        scrollbar-color: var(--bg-clr-highlight) var(--bg-clr-main);
    }
}

#currency__swap {
    color: var(--clr-btn-currency-swap);
    font-size: 1.5rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .625rem auto;
    height: 3ch;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--bg-clr-btn-currency-swap);
    box-shadow: 0 0 .1875rem var(--shadow-1);
    transition: background-color .3s ease, box-shadow .3s ease;
    cursor: pointer;
}

#currency__swap:hover, #currency__swap:focus {
    background-color: var(--bg-clr-btn-currency-swap-hover);
    box-shadow: 0 0 .25rem var(--shadow-1);
}

#currency__swap > span {
    rotate: 270deg;
    transition: rotate .3s ease;
}

#currency__swap:hover > span {
    rotate: 90deg;
}

#currency__swap::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .25rem;
    background-color: var(--bg-clr-highlight);
    z-index: -1;
}

#converter input[name="currency-input"] {
    color: var(--clr-font-2);
    font-size: 2rem;
    font-weight: bold;
    margin-block: .625rem;
    width: 100%;
    background-color: transparent;
}

#converter > p[id|="normal-currency-rate"] {
    color: var(--clr-font-1);
    font-size: .9rem;
    text-align: end;
    min-height: .9rem;
}
