@charset "UTF-8";

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1d1a1e;
}
