@charset "UTF-8";

:root {
    --background-color-body: #161733;
    --background-color-main: #17253f;
    --background-color-game: #324c7c;
    --background-color-game-slot: #22244F;
    --background-color-game-slot-hover: #2E306B;
    --background-color-game-slot-hover-winner: #BCBCBC;
    --player-x-color: #AB181A;
    --player-o-color: #167036;
    --white-1: #D4CBCB;
    --black-1: #101214;
    --shadow1: rgba(0, 0, 0, 0.5);
    --shadow2: rgba(255, 255, 255, 0.5);
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: monospace;
}

html {
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: var(--background-color-body);
}

p {
    margin: 0;
    padding: 0;
}

main {
    padding: 15px;
    border-radius: 10px;
    background-color: var(--background-color-main);
    box-shadow: 0 0 10px var(--shadow1);
}

.first-player {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    overflow: hidden;
    transition: padding .35s ease;
}

.first-player.player-choosen {
    padding: 0;
}

.first-player > div {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--shadow1);
    justify-self: center;
    transition: border .25s ease, box-shadow .25s ease, width .5s ease;
    overflow: hidden;
}

.first-player.player-choosen > div {
    width: 0;
}

.first-player > div#x-player {
    background-color: var(--player-x-color);
}

.first-player > div#o-player {
    background-color: var(--player-o-color);
}

.first-player > div:hover {
    border: 2px solid var(--white-1);
    box-shadow: 0 0 5px var(--shadow2);
}

.first-player > div > button {
    all: unset;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: var(--white-1);
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0 0 5px var(--shadow1);
    text-align: center;
    cursor: pointer;
}

.punctuation {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.punctuation > div {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    color: var(--black-1);
    box-shadow: 0 0 5px var(--shadow1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.punctuation > div#winx {
    background-color: var(--player-x-color);
}

.punctuation > div#draw {
    background-color: var(--white-1);
}

.punctuation > div#wino {
    background-color: var(--player-o-color);
}

.punctuation > div > p {
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 2px var(--black-1);
}

.punctuation > div > p.punc-div-title {
    font-size: .65rem;
}

.punctuation > div > p.punc-div-score {
    font-size: 1.2rem;
}

.game {
    width: 250px;
    aspect-ratio: 1 / 1;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-color-game);
    box-shadow: 0 0 5px var(--shadow1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

div[id^="slot"] {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    background-color: var(--background-color-game-slot);
    box-shadow: 0 0 5px var(--shadow1);
    cursor: pointer;
    transition: background-color .25s ease-in-out;
}

div[id^="slot"]:hover {
    background-color: var(--background-color-game-slot-hover);
}

div[id^="slot"].winnerslot {
    background-color: var(--white-1);
}

div[id^="slot"].winnerslot:hover {
    background-color: var(--background-color-game-slot-hover-winner);
}

div[id^="slot"] > button {
    all: unset;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div[id^="slot"] > button > img {
    display: inline-block;
    width: 100%;
    aspect-ratio: 1 / 1;
    scale: 0;
    transition: scale .1s ease-out;
}

.buttons > button {
    display: block;
    width: 100%;
    padding-top: 10px;
    border: 0;
    outline: 0;
    color: var(--white-1);
    font-size: 1rem;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}

.buttons > button:hover {
    text-decoration: underline;
}