@charset "UTF-8";

*, *::before, *::after {
    box-sizing: border-box;
    font-family: monospace;
}

html {
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: #161733;
}

p {
    margin: 0;
    padding: 0;
}

main {
    padding: 15px;
    border-radius: 10px;
    background-color: #17253f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.first-player {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    overflow: hidden;
    transition: height .35s ease, padding .35s ease;
}

.first-player.player-choosen {
    height: 0;
    padding: 0;
}

.first-player > div {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: border .25s ease, box-shadow .25s ease;
}

.first-player > div#x-player {
    background-color: #AB181A;
}

.first-player > div#o-player {
    background-color: #167036;
}

.first-player > div:hover {
    border: 2px solid #D4CBCB;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.first-player > div > button {
    all: unset;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: #D4CBCB;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
}

.punctuation {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.punctuation > div {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    color: #101214;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.punctuation > div#winx {
    background-color: #AB181A;
}

.punctuation > div#draw {
    background-color: #D4CBCB;
}

.punctuation > div#wino {
    background-color: #167036;
}

.punctuation > div > p {
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 2px #101214;
}

.punctuation > div > p.punc-div-title {
    font-size: .65rem;
}

.punctuation > div > p.punc-div-score {
    font-size: 1.2rem;
}

.game {
    width: 250px;
    aspect-ratio: 1 / 1;
    padding: 10px;
    border-radius: 10px;
    background-color: #324c7c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

div[id^="slot"] {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #22244F;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color .25s ease-in-out;
}

div[id^="slot"]:hover {
    background-color: #2E306B;
}

div[id^="slot"].winnerslot {
    background-color: #D4CBCB;
}

div[id^="slot"].winnerslot:hover {
    background-color: #BCBCBC;
}

div[id^="slot"] > button {
    all: unset;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div[id^="slot"] > button > img {
    display: inline-block;
    width: 100%;
    aspect-ratio: 1 / 1;
    scale: 0;
    transition: scale .1s ease-out;
}

#restartbutton {
    width: 100%;
    padding-top: 15px;
    border: 0;
    outline: 0;
    color: #D4CBCB;
    font-size: 1rem;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}

#restartbutton:hover {
    text-decoration: underline;
}