@charset "UTF-8";

:root {
    --background-color-body: #161733;
    --background-color-main: #17253f;
    --background-color-game: #324c7c;
    --background-color-game-slot: #22244F;
    --background-color-game-slot-hover: #2E306B;
    --background-color-game-slot-hover-winner: #BCBCBC;
    --player-x-color: #AB181A;
    --player-o-color: #167036;
    --white-1: #D4CBCB;
    --black-1: #101214;
    --shadow1: rgba(0, 0, 0, 0.5);
    --shadow2: rgba(255, 255, 255, 0.5);
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: monospace;
}

html {
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: var(--background-color-body);
}

p {
    margin: 0;
    padding: 0;
}

main {
    padding: 15px;
    border-radius: 10px;
    background-color: var(--background-color-main);
    box-shadow: 0 0 10px var(--shadow1);
}

.first-player {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    overflow: hidden;
    transition: padding .35s ease;

    &.player-choosen {
        padding: 0;
    }
}

.first-player.player-choosen > button {
    width: 0;
}

.first-player > button {
    all: unset;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    border: 0px solid var(--white-1);
    color: var(--white-1);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 5px var(--shadow1);
    box-shadow: 0 0 5px var(--shadow1);
    overflow: hidden;
    justify-self: center;
    box-sizing: border-box;
    transition: border .25s ease, box-shadow .25s ease, width .5s ease;
    cursor: pointer;

    &:hover {
        border: 2px solid var(--white-1);
        box-shadow: 0 0 5px var(--shadow2);
    }

    &#x-player-button {
        background-color: var(--player-x-color);
    }

    &#o-player-button {
        background-color: var(--player-o-color);
    }
}

.punctuation {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.punctuation > div {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    color: var(--black-1);
    box-shadow: 0 0 5px var(--shadow1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    &.highlighted {
        border: 2px solid var(--white-1);
        box-shadow: 0 0 5px var(--shadow2);
    }

    &#winx {
        background-color: var(--player-x-color);
    }

    &#draw {
        background-color: var(--white-1);
    }

    &#wino {
        background-color: var(--player-o-color);
    }
}


.punctuation > div > p {
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 2px var(--black-1);

    &.punc-div-title {
        font-size: .65rem;
    }

    &.punc-div-score {
        font-size: 1.2rem;
    }
}

.board {
    width: 250px;
    aspect-ratio: 1 / 1;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-color-game);
    box-shadow: 0 0 5px var(--shadow1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

div[id^="slot"] {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    background-color: var(--background-color-game-slot);
    box-shadow: 0 0 5px var(--shadow1);
    transition: background-color .25s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: var(--background-color-game-slot-hover);
    }

    &:has(button.winnerslot) {
        background-color: var(--white-1);
    }

    &:has(button.winnerslot):hover {
        background-color: var(--background-color-game-slot-hover-winner);
    }

    & > button {
        all: unset;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & > button > img {
        display: inline-block;
        width: 100%;
        aspect-ratio: 1 / 1;
        scale: 0;
        transition: scale .1s ease-out;
    }
}

.buttons > button {
    display: block;
    width: 100%;
    padding-top: 10px;
    border: 0;
    outline: 0;
    color: var(--white-1);
    font-size: 1rem;
    text-align: center;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}