@charset "UTF-8";

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 16px;
}

h1, p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #181537;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr 0fr;
    justify-items: center;
    align-items: center;
    height: 100dvh;
}

header {
    width: min(100dvw, 750px);
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #0c0a1c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 230px), 1fr));
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header h1 {
    color: #f3f0ed;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 3px #f3f0ed80;
}

.scoreboard {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.scoreboard > div {
    width: 100%;
    background-color: #2e3445;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding-block: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.winner {
        box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
    }
}

.scoreboard > div > p {
    color: #f3f0ed;
    font-size: 1.5rem;
    font-weight: bold;
}

.scoreboard > div > span {
    font-size: 3rem;
    font-weight: bold;
}

#playercount {
    color: green;
}

#drawcount {
    color: gray;
}

#aicount {
    color: red;
}

main {
    width: 100dvw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 10px;
}

main div {
    width: max(150px, 25%);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #f3f0ed;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    &.playerchoice {
        border: 20px solid #2070e1;
    }

    &.aichoice {
        border: 20px solid #f98b0d;
    }
}

main div img {
    max-width: 50%;
}

.choice-buttons {
    width: max(20%, min(95%, 250px));
    height: 100%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.choice-buttons button {
    all: unset;
    color: #f3f0ed;
    text-align: center;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #2e3445;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
    transition: background-color 250ms ease;
    cursor: pointer;

    &:hover {
        background-color: #394158;
    }
}

.choice-buttons button img {
    max-width: 40%;
    filter: invert(1);
}